In [6]:
import pandas as pd
import numpy as np

# Basic

In [4]:
s=pd.Series([4,2,5,0,6,3])
s

0    4
1    2
2    5
3    0
4    6
5    3
dtype: int64

In [10]:
df=pd.DataFrame(np.random.randn(6,4), columns=list('ABCD'))
df

          A         B         C         D
0  0.880296 -0.470597 -0.521338 -1.590632
1 -0.424702 -1.242345 -1.435050 -1.008606
2  0.939847  1.147058  1.103125 -1.009457
3 -1.003291 -0.902755  0.909960 -0.339356
4  1.032955 -1.356164  0.940168 -0.678172
5 -2.495200  0.515089 -0.298392  1.277271

In [36]:
df.iloc[0,1:4]

B   -0.470597
C   -0.521338
D   -1.590632
Name: 0, dtype: object

In [35]:
df.loc[3,'B']

-0.9027550424616431

In [12]:
df.A

0    0.880296
1   -0.424702
2    0.939847
3   -1.003291
4    1.032955
5   -2.495200
Name: A, dtype: float64

In [13]:
df['A']

0    0.880296
1   -0.424702
2    0.939847
3   -1.003291
4    1.032955
5   -2.495200
Name: A, dtype: float64

In [14]:
df.head(3)

          A         B         C         D
0  0.880296 -0.470597 -0.521338 -1.590632
1 -0.424702 -1.242345 -1.435050 -1.008606
2  0.939847  1.147058  1.103125 -1.009457

In [15]:
df.shape

(6, 4)

In [17]:
df.index.values

array([0, 1, 2, 3, 4, 5], dtype=int64)

In [18]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [19]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.178349 -0.384952  0.116412 -0.558159
std    1.410487  1.011035  1.026422  0.990319
min   -2.495200 -1.356164 -1.435050 -1.590632
25%   -0.858644 -1.157447 -0.465601 -1.009244
50%    0.227797 -0.686676  0.305784 -0.843389
75%    0.924959  0.268668  0.932616 -0.424060
max    1.032955  1.147058  1.103125  1.277271

In [22]:
df.sort_index(axis=1,ascending=False)

          D         C         B         A
0 -1.590632 -0.521338 -0.470597  0.880296
1 -1.008606 -1.435050 -1.242345 -0.424702
2 -1.009457  1.103125  1.147058  0.939847
3 -0.339356  0.909960 -0.902755 -1.003291
4 -0.678172  0.940168 -1.356164  1.032955
5  1.277271 -0.298392  0.515089 -2.495200

In [23]:
df.sort_values(by='B')

          A         B         C         D
4  1.032955 -1.356164  0.940168 -0.678172
1 -0.424702 -1.242345 -1.435050 -1.008606
3 -1.003291 -0.902755  0.909960 -0.339356
0  0.880296 -0.470597 -0.521338 -1.590632
5 -2.495200  0.515089 -0.298392  1.277271
2  0.939847  1.147058  1.103125 -1.009457

In [24]:
df[3:5]

          A         B         C         D
3 -1.003291 -0.902755  0.909960 -0.339356
4  1.032955 -1.356164  0.940168 -0.678172

In [26]:
df.loc[3,'A']

-1.0032912622712415

In [27]:
df[df.C>0]

          A         B         C         D
2  0.939847  1.147058  1.103125 -1.009457
3 -1.003291 -0.902755  0.909960 -0.339356
4  1.032955 -1.356164  0.940168 -0.678172

In [33]:
df['TAG']=['cat','dog','cat','cat','cat','dog']
df

          A         B         C         D  TAG
0  0.880296 -0.470597 -0.521338 -1.590632  cat
1 -0.424702 -1.242345 -1.435050 -1.008606  dog
2  0.939847  1.147058  1.103125 -1.009457  cat
3 -1.003291 -0.902755  0.909960 -0.339356  cat
4  1.032955 -1.356164  0.940168 -0.678172  cat
5 -2.495200  0.515089 -0.298392  1.277271  dog

In [37]:
df.groupby('TAG').sum()

            A         B         C         D
TAG
cat  1.849806 -1.582458  2.431915 -3.617617
dog -2.919902 -0.727255 -1.733442  0.268665

In [40]:
#time-series
n_items=366
ts=pd.Series(np.random.randn(n_items),index=pd.date_range('20211114',periods=n_items))
print(ts.shape)
print(ts)

(366,)
2021-11-14   -0.106897
2021-11-15    0.027335
2021-11-16    1.634052
2021-11-17    0.159984
2021-11-18    1.511080
                ...
2022-11-10   -1.554345
2022-11-11   -1.116571
2022-11-12    1.461189
2022-11-13    0.727026
2022-11-14    0.893988
Freq: D, Length: 366, dtype: float64

In [41]:
#by month summary
ts.resample("1m").sum()

2021-11-30     2.651916
2021-12-31   -16.000768
2022-01-31     0.168879
2022-02-28     2.236038
2022-03-31     8.592513
2022-04-30     3.012580
2022-05-31     1.541186
2022-06-30    -0.542454
2022-07-31     0.172099
2022-08-31    -6.529903
2022-09-30    -1.103653
2022-10-31     1.934138
2022-11-30     1.134456
Freq: M, dtype: float64