In [1]:
!python test.py

test123!

# PRINT

In [2]:
print("test123")

test123

In [3]:
print("USA")
print("Canada")
print("Germany")
print("France")
print("Japan")

USA
Canada
Germany
France
Japan

In [4]:
#print new line
print (8 * "\n")

In [5]:
#print new line
print ("\n\n\n\n\n\n\n\n\n")

In [6]:
print ("Welcome to Guru99")
print (8 * "\n")
print ("Welcome to Guru99")

Welcome to Guru99









Welcome to Guru99

In [7]:
# Declare a variable and initialize it
f = 0
print(f)
# re-declaring the variable works
f = 'guru99'
print(f)

0
guru99

In [3]:
a="Guru"
b = 99
print(a+b)

TypeError: can only concatenate str (not "int") to str

In [4]:
# Declare a variable and initialize it
f = 101
print(f)
# Global vs. local variables in functions
def someFunction():
    global f
    f = 'I am learning Python'
    print(f)
someFunction()
print(f)

101
I am learning Python
I am learning Python

In [13]:
f = 101;
print(f)
# Global vs.local variables in functions
def someFunction():
    global f
    print(f)
    f = "changing global variable"
someFunction()
print(f)

101
101
changing global variable

In [9]:
f = 11;
print(f)
del f
print(f)

11

NameError: name 'f' is not defined

# TUPLE

In [6]:
#Tuple Syntax
Tup = ('Jan','feb','march')
Tup

('Jan', 'feb', 'march')

In [11]:
tup1 = ();
tup1

()

In [12]:
Tup1 = (50,);
Tup1

(50,)

In [13]:
#Tuple Assignment 
tup1 = ('Robert', 'Carlos','1965','Terminator 1995', 'Actor','Florida');
tup2 = (1,2,3,4,5,6,7);
print(tup1[0])
print(tup2[1:4])

Robert
(2, 3, 4)

In [7]:
#Packing and Unpacking
x = ("Guru99", 20, "Education")    # tuple packing
(company, emp, profile, aa) = x    # tuple unpacking
print(company)
print(emp)
print(profile)

ValueError: not enough values to unpack (expected 4, got 3)

In [15]:
#Comparing tuples
a=(5,6)
b=(1,4)
if (a>b):print("a is bigger")
else: print("b is bigger")

a is bigger

In [8]:
#Tuples and dictionary
a = {'x':100, 'y':200}
b = list(a.items())
print(b)

[('x', 100), ('y', 200)]

In [18]:
b[0][1]

100

In [20]:
#Slicing of Tuple
x = ("a", "b","c", "d", "e")
print(x[2:4])

('c', 'd')

In [31]:
#Try
x=(2,3,1)
len(x)
#all(), any(), enumerate(), max(), min(), sorted(), len()

3

In [35]:
for i in (1,2,3,4):
    print(i)

1
2
3
4

In [98]:
#dict
Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}
Boys = {'Tim': 18,'Charlie':12,'Robert':25}
Girls = {'Tiffany':22}
studentX=Boys.copy()
studentY=Girls.copy()
print(studentX)
print(studentY)

{'Tim': 18, 'Charlie': 12, 'Robert': 25}
{'Tiffany': 22}

In [52]:
#Updating Dictionary
Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}
Dict.update({"Sarah":9})
print(Dict)

{'Tim': 18, 'Charlie': 12, 'Tiffany': 22, 'Robert': 25, 'Sarah': 9}

In [53]:
#Delete Keys from the dictionary
Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}
del Dict ['Charlie']
print(Dict)

{'Tim': 18, 'Tiffany': 22, 'Robert': 25}

In [54]:
#Dictionary items() Method
Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}
print("Students Name: %s" % list(Dict.items()))

Students Name: [('Tim', 18), ('Charlie', 12), ('Tiffany', 22), ('Robert', 25)]

In [36]:
#Check if a given key already exists in a dictionary
Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}
Boys = {'Tim': 18,'Charlie':12,'Robert':25,'Orozco':22}
Girls = {'Tiffany':22}
for key in list(Boys.keys()):
    if key in list(Dict.keys()):
        print(True)
    else:       
        print(False)

True
True
True
False

In [99]:
#Sorting the Dictionary
Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}
Students = list(Dict.keys())
Students.sort()
#S is the key of dict
for S in Students:
    print(":".join((S,str(Dict[S]))))

Charlie
Charlie:12
Robert
Robert:25
Tiffany
Tiffany:22
Tim
Tim:18

In [38]:
#convert to string
Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}
print("printable string:%s" % str(Dict))
Dict['Tim']

printable string:{'Tim': 18, 'Charlie': 12, 'Tiffany': 22, 'Robert': 25}

18

In [62]:
#Merging Dictionaries
my_dict1 = {"username": "XYZ", "email": "xyz@gmail.com", "location":"Mumbai"}
my_dict2 = {"firstName" : "Nick", "lastName": "Price"}
my_dict1.update(my_dict2)

print(my_dict1)

{'username': 'XYZ', 'email': 'xyz@gmail.com', 'location': 'Mumbai', 'firstName': 'Nick', 'lastName': 'Price'}

In [63]:
#Kwargs
my_dict1 = {"username": "XYZ", "email": "xyz@gmail.com", "location":"Mumbai"}
my_dict2 = {"firstName" : "Nick", "lastName": "Price"}

my_dict =  {**my_dict1, **my_dict2} 

print(my_dict)

{'username': 'XYZ', 'email': 'xyz@gmail.com', 'location': 'Mumbai', 'firstName': 'Nick', 'lastName': 'Price'}

In [103]:
#Kwargs
def fun(**_settings):
    print(_settings)

fun(name='Sky', attack=100, hp=500)

{'name': 'Sky', 'attack': 100, 'hp': 500}

In [39]:
#Python Dictionary Append
my_dict = {"Name":[],"Address":[],"Age":[]};

my_dict["Name"].append("Guru")
my_dict["Name"].append("Guru99")
my_dict["Address"].append("Mumbai")
my_dict["Age"].append(30)
print(my_dict)

{'Name': ['Guru', 'Guru99'], 'Address': ['Mumbai'], 'Age': [30]}

In [102]:
my_dict.clear()
my_dict

{}

In [67]:
#Deleting Element(s) from dictionary using pop() method
my_dict = {"username": "XYZ", "email": "xyz@gmail.com", "location":"Mumbai"}
my_dict.pop("username")
print(my_dict)

{'email': 'xyz@gmail.com', 'location': 'Mumbai'}

In [68]:
#Appending element(s) to a dictionary
my_dict = {"username": "XYZ", "email": "xyz@gmail.com", "location":"Mumbai"}
my_dict['name']='Nick'

print(my_dict)

{'username': 'XYZ', 'email': 'xyz@gmail.com', 'location': 'Mumbai', 'name': 'Nick'}

In [69]:
#Updating existing element(s) in a dictionary
my_dict = {"username": "XYZ", "email": "xyz@gmail.com", "location":"Mumbai"}

my_dict["username"] = "ABC"

print(my_dict)

{'username': 'ABC', 'email': 'xyz@gmail.com', 'location': 'Mumbai'}

In [70]:
#Insert a dictionary into another dictionary
my_dict = {"username": "XYZ", "email": "xyz@gmail.com", "location":"Washington"}

my_dict1 = {"firstName" : "Nick", "lastName": "Price"}

my_dict["name"] = my_dict1

print(my_dict)

{'username': 'XYZ', 'email': 'xyz@gmail.com', 'location': 'Washington', 'name': {'firstName': 'Nick', 'lastName': 'Price'}}

# OPERATOR

In [104]:
#Arithmetic Operators
x= 4
y= 5
print(x + y)

9

In [105]:
#Comparison Operators
x = 4
y = 5
print(('x > y  is',x>y))

('x > y  is', False)

In [106]:
num1 = 4
num2 = 5
res = num1 + num2
res += num1
print(("Line 1 - Result of + is ", res))

('Line 1 - Result of + is ', 13)

In [107]:
#Logical Operators or Bitwise Operators
a = True
b = False
print(('a and b is',a and b))
print(('a or b is',a or b))
print(('not a is',not a))

('a and b is', False)
('a or b is', True)
('not a is', False)

In [76]:
#Membership Operators
x = 4
y = 8
list = [1, 2, 3, 4, 5 ];
if ( x in list ):
    print("Line 1 - x is available in the given list")
else:
    print("Line 1 - x is not available in the given list")
if ( y not in list ):
    print("Line 2 - y is not available in the given list")
else:
    print("Line 2 - y is available in the given list")

Line 1 - x is available in the given list
Line 2 - y is not available in the given list

In [116]:
#Identity Operators
x = 20
y = 20
if ( x is y ): 
    print("x & y  SAME identity")
y=30
if ( x is not y ):
    print("x & y have DIFFERENT identity")

x & y  SAME identity
x & y have DIFFERENT identity

# ARRAY

In [123]:
#array
import array
balance = array.array('i', [300,200,100])
print(balance[1])

200

In [79]:
import array as myarray
abc = myarray.array('d', [2.5, 4.9, 6.7])
print("Array first element is:",abc[0]) 
print("Array last element is:",abc[-1])

Array first element is: 2.5
Array last element is: 6.7

In [80]:
import array as myarray
abc= myarray.array('q',[3,9,6,5,20,13,19,22,30,25]) 
print(abc[1:4])
print(abc[7:10])

array('q', [9, 6, 5])
array('q', [22, 30, 25])

In [44]:
#insert elements?
import array
balance = array.array('i', [300,200,100])
balance.insert(-2, 150)
print(balance)

array('i', [300, 150, 200, 100])

In [83]:
#modify elements
import array as myarr 
a=myarr.array('b',[3,6,4,8,10,12,14,16,18,20]) 
a[0]=99 
print(a)

array('b', [99, 6, 4, 8, 10, 12, 14, 16, 18, 20])

In [129]:
import array as myarr 
first = myarr.array('b', [4, 6, 8]) 
second = myarr.array('b', [9, 12, 15]) 
numbers = myarr.array('b')   
numbers = first + second 
print(numbers)

array('b', [4, 6, 8, 9, 12, 15])

In [85]:
#pop an element from Array
import array as myarr 
first = myarr.array('b', [20, 25, 30]) 
first.pop(2) 
print(first)

array('b', [20, 25])

In [86]:
import array as myarr 
no = myarr.array('b', [10, 4, 5, 5, 7]) 
del no[4]  
print(no)

array('b', [10, 4, 5, 5])

In [87]:
#delete elements
import array as myarray
first = myarray.array('b', [2, 3, 4]) 
first.remove(3) 
print(first)

array('b', [2, 4])

In [88]:
#Search and get the index of a value in an Array
import array as myarray
number = myarray.array('b', [2, 3, 4, 5, 6])              
print(number.index(3))

1

In [89]:
#Reverse an Array
import array as myarray
number = myarray.array('b', [1,2, 3])   
number.reverse()           
print(number)

array('b', [3, 2, 1])

In [90]:
#Count the occurrence of a Value in Array 
import array as myarr
number = myarr.array('b', [2, 3, 5, 4,3,3,3]) 
print(number.count(3))

4

In [130]:
#Traverse an Array
import array
balance = array.array('i', [300,200,100])
for x in balance:
    print(x)

300
200
100

In [131]:
#array data type
array.array('i', ['a',200,100])

TypeError: an integer is required (got type str)

In [135]:
#list data type
import numpy as np
lst=np.list=[1,2,3,'ok']
print(lst)

[1, 2, 3, 'ok']

# CONDITIONAL LOOPS

In [92]:
#Python if Statement 
def main():
    x,y =2,8
    if(x < y):
        st= "x is less than y"
    print(st)

main()

x is less than y

In [93]:
#else condition
def main():
    x,y =8,4

    if(x < y):
        st= "x is less than y"
    else:
        st= "x is greater than y"
    print (st)
main()

x is greater than y

In [46]:
#elif condition
def main():
    x,y =8,8

    if(x < y):
        st= "x is less than y"

    elif (x is y):
        st= "x is same as y"
    
    else:
        st="x is greater than y"
    print(st)

main()

x is same as y

In [96]:
#conditional statement with minimal code
def main():
    x,y = 10,8
    st = "x is less than y" if (x < y) else "x is greater than or equal to y"
    print(st)
main()

x is greater than or equal to y

In [97]:
#Nested if Statement
total = 100
#country = "US"
country = "AU"
if country == "US":
    if total <= 50:
        print("Shipping Cost is  $50")
elif total <= 100:
        print("Shipping Cost is $25")
elif total <= 150:
    print("Shipping Costs $5")
else:
        print("FREE")
if country == "AU": 
    if total <= 50:
        print("Shipping Cost is  $100")
else:
    print("FREE")

Shipping Cost is $25

In [49]:
#Switch Case Statement
def SwitchExample(argument):
    switcher = {
        0: " This is Case Zero ",
        1: " This is Case One ",
        2: " This is Case Two ",
    }
    return switcher.get(argument,'aaaa')


argument = 5
print (SwitchExample(argument))

aaaa

In [51]:
#While Loop
x=0
#define a while loop
while(x <4):
    print(x)
    x +=1

0
1
2
3

In [53]:
#for loop
x=10000
for x in range(2,8):
    print(x)

2
3
4
5
6
7

In [138]:
#For Loop for String
Months = ["Jan","Feb","Mar","April","May","June"]
for m in Months:
    print(m)

Jan
Feb
Mar
April
May
June

# BREAK, CONTINUE, PASS

In [142]:
#break statements in For Loop
for x in range (10,20):
    if (x == 15): break
    if (x % 2 == 0) : continue
    print(x)

11
13

In [144]:
#continue statement” in For Loop
for x in range (10,20):
    if (x == 15): break
    if (x % 5 == 0) : continue
    print(x)

11
12
13
14

In [55]:
#enumerate() in Python
Months = ["Jan","Feb","Mar","April","May","June"]
for i, m in enumerate (Months):
    print(m)

Jan
Feb
Mar
April
May
June

In [57]:
#try
for i in 'abc':
    print(i)
a='abc'
a[0:1]

a
b
c

'a'

In [147]:
#break statement
my_list = ['Siya', 'Tiya', 'Guru', 'Daksh', 'Riya', 'Guru'] 

for i in range(len(my_list)):
    print(my_list[i])
    if my_list[i] == 'Guru':
        print('Found the name Guru')
        break
        print('After break statement')

print('Loop is Terminated')

Siya
Tiya
Guru
Found the name Guru
Loop is Terminated

In [58]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [109]:
#Break statement inside while-loop
my_list = ['Siya', 'Tiya', 'Guru', 'Daksh', 'Riya', 'Guru'] 
i = 0

while True:
    print(my_list[i])
    if (my_list[i] == 'Guru'):
        print('Found the name Guru')
        break
        print('After break statement')
    i += 1

print('After while-loop exit')

Siya
Tiya
Guru
Found the name Guru
After while-loop exit

In [148]:
#Break Statement inside nested loops
for i in range(4):
    for j in range(4):          
        if j==2:    
            break
        print("The number is ",i,j);

The number is  0 0
The number is  0 1
The number is  1 0
The number is  1 1
The number is  2 0
The number is  2 1
The number is  3 0
The number is  3 1

In [149]:
#Continue inside for-loop
for i in range(10):    
    if i == 7:
        continue  
    print("The Number is :" , i)

The Number is : 0
The Number is : 1
The Number is : 2
The Number is : 3
The Number is : 4
The Number is : 5
The Number is : 6
The Number is : 8
The Number is : 9

In [60]:
#pass
def my_func():
    pass
my_func()

In [151]:
# Pass statement in for-loop
test = "Guru"
for i in test: 
    if i == 'r': 
        print('Pass executed') 
        pass
    print(i)

G
u
Pass executed
r
u

# OOP

In [152]:
#class
class myClass():
    def method1(self):
        print("Guru99")
        
    def method2(self,someString):    
        print("Software Testing:" + someString)

def main():           
    c = myClass ()
    c.method1()
    c.method2(" Testing is fun")
    
main()

Guru99
Software Testing: Testing is fun

In [153]:
#Inheritance works
class myClass():
    def method1(self):
        print("Guru99")
        
class childClass(myClass):
    def method2(self):
        print("childClass method2")    

def main():           
    c2 = childClass()
    c2.method1()
    
main()

Guru99

In [154]:
#Constructors
class User:
    name = ""

    def __init__(self, name):
        self.name = name

    def sayHello(self):
        print("Welcome to Guru99, " + self.name)

User1 = User("Alex")
User1.sayHello()

Welcome to Guru99, Alex