In [1]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_diabetes

In [2]:
diabetes = load_diabetes()
data = pd.DataFrame(diabetes.data,
                    columns=diabetes.feature_names)
data['diabetes'] = diabetes.target

In [3]:
data

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,diabetes
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0
...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485,104.0
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491,132.0
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930,220.0
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064,57.0

In [65]:
print(diabetes.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, T-Cells (a type of white blood cells)
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, thyroid stimulating hormone
      - s5      ltg, lamotrigine
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

In [66]:
#Interaction Features
data['s1+s2']=data['s1'].add(data['s2'])
data

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,diabetes,s1+s2
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0,-0.079044
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0,-0.027612
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0,-0.079794
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0,0.037181
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0,0.019531
...,...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0,-0.008263
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485,104.0,0.128507
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491,132.0,-0.051184
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930,220.0,0.031601
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064,57.0,0.111549

In [30]:
data['s1-s2'] = data['s1'].sub(data['s2'])
data

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,diabetes,s1+s2,s1-s2
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0,-0.079044,-0.009403
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0,-0.027612,0.010715
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0,-0.079794,-0.011405
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0,0.037181,-0.012800
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0,0.019531,-0.011661
...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0,-0.008263,-0.003130
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485,104.0,0.128507,-0.029824
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491,132.0,-0.051184,-0.023504
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930,220.0,0.031601,0.001035
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064,57.0,0.111549,0.055931

In [36]:
data['s1/s2'] = data['s1'].div(data['s2'])
data

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,diabetes,s1+s2,s1-s2,s1xs2,s1/s2
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0,-0.079044,-0.009403,1.270032,1.270032
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0,-0.027612,0.010715,0.440880,0.440880
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0,-0.079794,-0.011405,1.333533,1.333533
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0,0.037181,-0.012800,0.487806,0.487806
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0,0.019531,-0.011661,0.252297,0.252297
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0,-0.008263,-0.003130,2.219709,2.219709
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485,104.0,0.128507,-0.029824,0.623269,0.623269
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491,132.0,-0.051184,-0.023504,2.698283,2.698283
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930,220.0,0.031601,0.001035,1.067751,1.067751
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064,57.0,0.111549,0.055931,3.011267,3.011267

In [41]:
data['s1xs2'] = data['s1'] * data['s2']
data

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,diabetes,s1+s2,s1-s2,s1xs2,s1/s2
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0,-0.079044,-0.009403,0.001540,1.270032
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0,-0.027612,0.010715,0.000162,0.440880
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0,-0.079794,-0.011405,0.001559,1.333533
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0,0.037181,-0.012800,0.000305,0.487806
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0,0.019531,-0.011661,0.000061,0.252297
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0,-0.008263,-0.003130,0.000015,2.219709
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485,104.0,0.128507,-0.029824,0.003906,0.623269
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491,132.0,-0.051184,-0.023504,0.000517,2.698283
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930,220.0,0.031601,0.001035,0.000249,1.067751
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064,57.0,0.111549,0.055931,0.002329,3.011267

In [4]:
#polynomial feature
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(degree=3, interaction_only=False, include_bias=True)

#input: s1, s2 
d = poly.fit_transform(data[['s1','s2']].values)

#check output name
poly.get_feature_names(['s1','s2'])

['1',
 's1',
 's2',
 's1^2',
 's1 s2',
 's2^2',
 's1^3',
 's1^2 s2',
 's1 s2^2',
 's2^3']

In [5]:
pd.DataFrame(d, columns = poly.get_feature_names(['s1','s2']))

,1,s1,s2,s1^2,s1 s2,s2^2,s1^3,s1^2 s2,s1 s2^2,s2^3
0,1.0,-0.044223,-0.034821,0.001956,0.001540,0.001212,-8.648868e-05,-6.809959e-05,-5.362035e-05,-4.221967e-05
1,1.0,-0.008449,-0.019163,0.000071,0.000162,0.000367,-6.030779e-07,-1.367897e-06,-3.102655e-06,-7.037422e-06
2,1.0,-0.045599,-0.034194,0.002079,0.001559,0.001169,-9.481539e-05,-7.110089e-05,-5.331768e-05,-3.998227e-05
3,1.0,0.012191,0.024991,0.000149,0.000305,0.000625,1.811640e-06,3.713851e-06,7.613373e-06,1.560737e-05
4,1.0,0.003935,0.015596,0.000015,0.000061,0.000243,6.092353e-08,2.414759e-07,9.571116e-07,3.793598e-06
...,...,...,...,...,...,...,...,...,...,...
437,1.0,-0.005697,-0.002566,0.000032,0.000015,0.000007,-1.848831e-07,-8.329159e-08,-3.752366e-08,-1.690477e-08
438,1.0,0.049341,0.079165,0.002435,0.003906,0.006267,1.201245e-04,1.927329e-04,3.092289e-04,4.961400e-04
439,1.0,-0.037344,-0.013840,0.001395,0.000517,0.000192,-5.207787e-05,-1.930038e-05,-7.152838e-06,-2.650885e-06
440,1.0,0.016318,0.015283,0.000266,0.000249,0.000234,4.345451e-06,4.069724e-06,3.811492e-06,3.569645e-06
441,1.0,0.083740,0.027809,0.007012,0.002329,0.000773,5.872198e-04,1.950075e-04,6.475929e-05,2.150566e-05

In [108]:
#number to categorical value
data['diabetes_bin']=pd.qcut(data.diabetes, 3, labels=['dia_low','dia_medium','dia_high'])
data['bmi_bin']=pd.qcut(data.diabetes, 4, labels=['low','mean','medium','high'])
data['age_bin']=pd.qcut(data.diabetes, 3, labels=['young','adult','old'])
data

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,diabetes,diabetes_bin,bmi_bin,age_bin,bmi_ordianl,bmi_ordinal
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0,dia_medium,medium,adult,2,2
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0,dia_low,low,young,0,0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0,dia_medium,medium,adult,2,2
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0,dia_high,medium,old,2,2
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0,dia_medium,mean,adult,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0,dia_medium,medium,adult,2,2
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485,104.0,dia_medium,mean,adult,1,1
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491,132.0,dia_medium,mean,adult,1,1
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930,220.0,dia_high,high,old,3,3
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064,57.0,dia_low,low,young,0,0

In [109]:
cat = pd.Categorical(data.bmi_bin, 
                     categories=['low', 'mean', 
                                 'medium', 'high'], 
                     ordered=True)
cat

['medium', 'low', 'medium', 'medium', 'mean', ..., 'medium', 'mean', 'mean', 'high', 'low']
Length: 442
Categories (4, object): ['low' < 'mean' < 'medium' < 'high']

In [110]:
labels, unique = pd.factorize(cat, sort=True)
data['bmi_ordinal'] = labels

In [111]:
data

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,diabetes,diabetes_bin,bmi_bin,age_bin,bmi_ordianl,bmi_ordinal
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0,dia_medium,medium,adult,2,2
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0,dia_low,low,young,0,0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0,dia_medium,medium,adult,2,2
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0,dia_high,medium,old,2,2
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0,dia_medium,mean,adult,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0,dia_medium,medium,adult,2,2
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485,104.0,dia_medium,mean,adult,1,1
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491,132.0,dia_medium,mean,adult,1,1
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930,220.0,dia_high,high,old,3,3
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064,57.0,dia_low,low,young,0,0

In [112]:
#one hot encoding
from sklearn.preprocessing import OneHotEncoder

onehot = OneHotEncoder(dtype=np.int, sparse=True)
nominals = pd.DataFrame(
    onehot.fit_transform(data[['diabetes_bin', 'age_bin']])\
    .toarray(),
    columns=['dia_low', 'dia_medium', 'dia_high', 'young','adult', 'old'])

nominals['bmi_ordinal'] = data.bmi_ordinal
nominals

     dia_low  dia_medium  dia_high  young  adult  old  bmi_ordinal
0          0           0         1      1      0    0            2
1          0           1         0      0      0    1            0
2          0           0         1      1      0    0            2
3          1           0         0      0      1    0            2
4          0           0         1      1      0    0            1
..       ...         ...       ...    ...    ...  ...          ...
437        0           0         1      1      0    0            2
438        0           0         1      1      0    0            1
439        0           0         1      1      0    0            1
440        1           0         0      0      1    0            3
441        0           1         0      0      0    1            0

[442 rows x 7 columns]

In [133]:
#Discretization
from sklearn.preprocessing import KBinsDiscretizer  
est = KBinsDiscretizer(n_bins=3, encode='ordinal', strategy='uniform')
X_ordinal = est.fit_transform(data.diabetes.values.reshape(-1,1)) 

data['diabetes_ordinal']=X_ordinal
data

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,diabetes,diabetes_bin,bmi_bin,age_bin,bmi_ordianl,bmi_ordinal,diabetes_ordinal
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0,dia_medium,medium,adult,2,2,1.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0,dia_low,low,young,0,0,0.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0,dia_medium,medium,adult,2,2,1.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0,dia_high,medium,old,2,2,1.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0,dia_medium,mean,adult,1,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0,dia_medium,medium,adult,2,2,1.0
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485,104.0,dia_medium,mean,adult,1,1,0.0
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491,132.0,dia_medium,mean,adult,1,1,1.0
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930,220.0,dia_high,high,old,3,3,1.0
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064,57.0,dia_low,low,young,0,0,0.0

In [139]:
#binarization
from sklearn.preprocessing import Binarizer 

# For age, let threshold be 0.01
binarizer_1 = Binarizer(0.01)
data['age_binarizer']=binarizer_1.fit_transform(data.age.values.reshape(-1,1))
data

C:\ProgramData\Anaconda3\envs\Recommandation\lib\site-packages\sklearn\utils\validation.py:70: FutureWarning: Pass threshold=0.01 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,diabetes,diabetes_bin,bmi_bin,age_bin,bmi_ordianl,bmi_ordinal,diabetes_ordinal,age_binarizer
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0,dia_medium,medium,adult,2,2,1.0,1.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0,dia_low,low,young,0,0,0.0,0.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0,dia_medium,medium,adult,2,2,1.0,1.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0,dia_high,medium,old,2,2,1.0,0.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0,dia_medium,mean,adult,1,1,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0,dia_medium,medium,adult,2,2,1.0,1.0
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485,104.0,dia_medium,mean,adult,1,1,0.0,0.0
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491,132.0,dia_medium,mean,adult,1,1,1.0,1.0
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930,220.0,dia_high,high,old,3,3,1.0,0.0
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064,57.0,dia_low,low,young,0,0,0.0,0.0

In [142]:
#custom transformation
from sklearn.preprocessing import FunctionTransformer

transformer = FunctionTransformer(np.log1p, validate=True)
d = transformer.fit_transform(data.s1.values.reshape(-1, 1))

#the same
#data.s1.apply(lambda x : np.log1p(x))

data['custom_log1p']=d
data

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,diabetes,diabetes_bin,bmi_bin,age_bin,bmi_ordianl,bmi_ordinal,diabetes_ordinal,age_binarizer,custom_log1p
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0,dia_medium,medium,adult,2,2,1.0,1.0,-0.045231
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0,dia_low,low,young,0,0,0.0,0.0,-0.008485
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0,dia_medium,medium,adult,2,2,1.0,1.0,-0.046672
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0,dia_high,medium,old,2,2,1.0,0.0,0.012117
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0,dia_medium,mean,adult,1,1,1.0,0.0,0.003927
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0,dia_medium,medium,adult,2,2,1.0,1.0,-0.005713
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485,104.0,dia_medium,mean,adult,1,1,0.0,0.0,0.048163
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491,132.0,dia_medium,mean,adult,1,1,1.0,1.0,-0.038059
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930,220.0,dia_high,high,old,3,3,1.0,0.0,0.016187
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064,57.0,dia_low,low,young,0,0,0.0,0.0,0.080418