In [1]:
!python test.py

test!!

In [2]:
print("test123")

test123

In [4]:
print("USA")
print("Canada")
print("Germany")
print("France")
print("Japan")

USA
Canada
Germany
France
Japan

In [6]:
print (8 * "\n")

In [7]:
print ("\n\n\n\n\n\n\n\n\n")

In [8]:
print ("Welcome to Guru99")
print (8 * "\n")
print ("Welcome to Guru99")

Welcome to Guru99









Welcome to Guru99

In [10]:
# Declare a variable and initialize it
f = 0
print(f)
# re-declaring the variable works
f = 'guru99'
print(f)

0
guru99

In [11]:
a="Guru"
b = 99
print(a+str(b))

Guru99

In [12]:
# Declare a variable and initialize it
f = 101
print(f)
# Global vs. local variables in functions
def someFunction():
# global f
    f = 'I am learning Python'
    print(f)
someFunction()
print(f)

101
I am learning Python
101

In [13]:
f = 101;
print(f)
# Global vs.local variables in functions
def someFunction():
    global f
    print(f)
    f = "changing global variable"
someFunction()
print(f)

101
101
changing global variable

In [14]:
f = 11;
print(f)
del f
print(f)

11

NameError: name 'f' is not defined

In [16]:
#Tuple Syntax
Tup = ('Jan','feb','march')
Tup

('Jan', 'feb', 'march')

In [18]:
tup1 = ();
tup1

()

In [19]:
Tup1 = (50,);
Tup1

(50,)

In [20]:
#Tuple Assignment 
tup1 = ('Robert', 'Carlos','1965','Terminator 1995', 'Actor','Florida');
tup2 = (1,2,3,4,5,6,7);
print(tup1[0])
print(tup2[1:4])

Robert
(2, 3, 4)

In [22]:
#Packing and Unpacking
x = ("Guru99", 20, "Education")    # tuple packing
(company, emp, profile) = x    # tuple unpacking
print(company)
print(emp)
print(profile)

Guru99
20
Education

In [25]:
#Comparing tuples
a=(5,6)
b=(1,4)
if (a>b):print("a is bigger")
else: print("b is bigger")

a is bigger

In [26]:
a=(5,6)
b=(5,4)
if (a>b):print("a is bigger")
else: print ("b is bigger")

a is bigger

In [27]:
a=(5,6)
b=(6,4)
if (a>b):print("a is bigger")
else: print("b is bigger")

b is bigger

In [28]:
#Tuples and dictionary
a = {'x':100, 'y':200}
b = list(a.items())
print(b)

[('x', 100), ('y', 200)]

In [37]:
#Slicing of Tuple
x = ("a", "b","c", "d", "e")
print(x[2:4])

('c', 'd')

In [ ]:
#Try
#all(), any(), enumerate(), max(), min(), sorted(), len()

In [51]:
#dict
Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}	
Boys = {'Tim': 18,'Charlie':12,'Robert':25}
Girls = {'Tiffany':22}	
studentX=Boys.copy()
studentY=Girls.copy()
print(studentX)
print(studentY)

22

In [52]:
#Updating Dictionary
Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}
Dict.update({"Sarah":9})
print(Dict)

{'Tim': 18, 'Charlie': 12, 'Tiffany': 22, 'Robert': 25, 'Sarah': 9}

In [53]:
#Delete Keys from the dictionary
Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}
del Dict ['Charlie']
print(Dict)

{'Tim': 18, 'Tiffany': 22, 'Robert': 25}

In [54]:
#Dictionary items() Method
Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}
print("Students Name: %s" % list(Dict.items()))

Students Name: [('Tim', 18), ('Charlie', 12), ('Tiffany', 22), ('Robert', 25)]

In [55]:
#Check if a given key already exists in a dictionary
Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}
Boys = {'Tim': 18,'Charlie':12,'Robert':25}
Girls = {'Tiffany':22}
for key in list(Boys.keys()):
    if key in list(Dict.keys()):
        print(True)
    else:       
        print(False)

True
True
True

In [58]:
#Sorting the Dictionary
Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}
Students = list(Dict.keys())
Students.sort()
for S in Students:
      print(":".join((S,str(Dict[S]))))

Charlie:12
Robert:25
Tiffany:22
Tim:18

In [59]:
#convert to string
Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}	
print("printable string:%s" % str (Dict))

printable string:{'Tim': 18, 'Charlie': 12, 'Tiffany': 22, 'Robert': 25}