# STRING

In [1]:
#string
x = "Hello World!"
print(x[:6]) 
print(x[0:6] + "Guru99")

Hello
Hello Guru99

In [2]:
#String replace()
oldstring = 'I like Guru99' 
newstring = oldstring.replace('like', 'love')
print(newstring)

I love Guru99

In [3]:
#Changing upper and lower case strings
string="python at guru99"
print(string.upper())

PYTHON AT GURU99

In [4]:
string="python at guru99"		
print(string.capitalize())

Python at guru99

In [5]:
#join function
print(":".join("Python"))

P:y:t:h:o:n

In [6]:
#Reversing String
string="12345"		
print(''.join(reversed(string)))

54321

In [7]:
#Split Strings
word="guru99 career guru99"		
print(word.split(' '))

['guru99', 'career', 'guru99']

In [7]:
#replace
x = "Guru99"

#Strings are immutable. 
x = x.replace("Guru99","Python")
print(x)

Python

In [8]:
#strip
str1 = "****Welcome to Guru99!****"
after_strip = str1.strip("*")
print(after_strip)

str2 = "Welcome to Guru99!"
after_strip1 = str2.strip("99!")
print(after_strip1)
str3 = "Welcome to Guru99!"
after_strip3 = str3.strip("to")
print(after_strip3)

Welcome to Guru99!
Welcome to Guru
Welcome to Guru99!

In [9]:
# Count occurrence of substring
str1 = "Welcome to Guru99 - Free Training Tutorials and Videos for IT Courses"
str_count1 = str1.count('to') # counting the substring “to” in the givenstring
print("The count of 'to' is", str_count1)
str_count2 = str1.count('to', 6,15)
print("The count of 'to' usingstart/end is", str_count2)

The count of 'to' is 2
The count of 'to' usingstart/end is 1

In [10]:
#string format()
print ("Welcome to {} tutorials".format("Guru99"))

Welcome to Guru99 tutorials

In [11]:
print ("Welcome to {name}{num} Tutorials".format(name="Guru", num="99"))

Welcome to Guru99 Tutorials

In [12]:
print ("Welcome to {0}{1} Tutorials".format("Guru","99"))

Welcome to Guru99 Tutorials

In [13]:
print ("{} is {} new kind of {} experience!".format("Guru99", "totally","learning"))

Guru99 is totally new kind of learning experience!

In [14]:
#class with format()
class MyClass:
    msg1="Guru"
    msg2="Tutorials"   

print("Welcome to {c.msg1}99 {c.msg2}!".format(c=MyClass()))

Welcome to Guru99 Tutorials!

In [15]:
#dictionary with format()
my_dict = {'msg1': "Welcome", 'msg2': 'Guru99'}
print("{m[msg1]} to {m[msg2]} Tutorials!".format(m=my_dict))

Welcome to Guru99 Tutorials!

In [18]:
#Padding Variable Substitutions
print("I have {:5} dogs and {:5} cat".format(2,1))

I have     2 dogs and     1 cat

In [26]:
#find (start from 20)
mystring = "Meet Guru99 Tutorials Site.Best site for Python Tutorials!"
print("The position of Tutorials is at:", mystring.find("Tutorials", 2))

The position of Tutorials is at: 12

In [22]:
mystring = "Meet Guru99 Tutorials Site.Best site for Python Tutorials!"
print("The position of Tutorials is at:", mystring.find("Tutorials", 5, 30))

The position of Tutorials is at: 12

In [61]:
#try - print how many test string in below?
count=0
my_string = "test string test, test string testing, test string test string"
print("The total count of substring test is: ", count )

The total count of substring test is:  0

# FUNCTION

In [65]:
#python module
!python a.py

hello world!
Guru99
Value in built variable name is:   __main__

In [64]:
!python b.py

Guru99
Value in built variable name is:   a
done

In [66]:
#define a function
def func1():
    print ("I am learning Python function")
    print ("still in func1")

func1()

def square(x):
  	return x*x
print(square(4))

def multiply(x,y=0):
	print("value of x=",x)
	print("value of y=",y)
    
	return x*y
  
print(multiply(y=2,x=4))

I am learning Python function
still in func1
16
value of x= 4
value of y= 2
8

In [25]:
#lambda
x="some kind of a useless lambda"

#input x into lamba function
(lambda x : print(x))(x)

some kind of a useless lambda

In [27]:
#input 2 into lambda function
(lambda x: x + x)(2)

4

In [22]:
#lambdas in filter()
sequences = [10,2,8,7,5,4,3,11,0, 1]
filtered_result = filter(lambda x: x > 4, sequences) 
print(list(filtered_result))

[10, 8, 7, 5, 11]

In [23]:
#lambdas in map()
sequences = [10,2,8,7,5,4,3,11,0, 1]
filtered_result = map(lambda x: x*x, sequences) 
#use list() to convert map outputs 
print(list(filtered_result))

[100, 4, 64, 49, 25, 16, 9, 121, 0, 1]

In [28]:
#lambdas in reduce()
from functools import reduce
sequences = [1,2,3,4,5]

#reduce function output will be a value
product = reduce(lambda x, y: x*y, sequences)
print(product)

120

In [29]:
#abs
int_num = -25
float_num = -10.50

print(abs(int_num))
print(abs(float_num))

25
10.5

In [30]:
#round
num = -2.8
num1 = -1.5
print("The value after rounding is", round(num))
print("The value after rounding is", round(num1))

The value after rounding is -3
The value after rounding is -2

In [31]:
import numpy as np

arr = [-0.341111, 1.455098989, 4.232323, -0.3432326, 7.626632, 5.122323]
arr1 = np.round(arr, 2)
print(arr1)

[-0.34  1.46  4.23 -0.34  7.63  5.12]

In [32]:
#range
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [33]:
for i in range(3, 10):
    print(i, end =" ")

3 4 5 6 7 8 9

In [34]:
for i in range(3, 10, 2):
    print(i, end =" ")

3 5 7 9

In [35]:
for i in range(15, 5, -1):
    print(i, end =" ")

15 14 13 12 11 10 9 8 7 6

In [36]:
arr_list = ['Mysql', 'Mongodb', 'PostgreSQL', 'Firebase']

for i in range(len(arr_list)):
    print(arr_list[i], end =" ")

Mysql Mongodb PostgreSQL Firebase

In [37]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [94]:
#map
def square(n):
    return n*n
my_list = [2,3,4,5,6,7,8,9]

updated_list = map(square, my_list)
print(updated_list)
print(list(updated_list))

<map object at 0x0000000005A748C8>
[4, 9, 16, 25, 36, 49, 64, 81]

In [38]:
#zip
a=[1,2,3]
b=[4,5,6]
c=[4,5,6,7,8]
zipped=zip(a,b)
list(zipped)

[(1, 4), (2, 5), (3, 6)]

In [39]:
#zip
a=[1,2,3]
b=[4,5,6]
c=[4,5,6,7,8]
zipped=zip(a,c)
list(zipped)

[(1, 4), (2, 5), (3, 6)]

# GENERATOR

In [40]:
#use next
def even_numbers(n):
    for x in range(n):
        if (x%2==0): 
            yield x       
num = even_numbers(10)
print(next(num))
print(next(num))
print(next(num))
print(next(num))
print(next(num))
print(next(num))

0
2
4
6
8

StopIteration:

In [42]:
#yield and generator
#normal function
def normal_test():
    return "Hello World"

#Generator function
def generator_test():
    yield "Hello World"
    
print(normal_test()) #call to normal function
print(generator_test()) # call to generator function
print(next(generator_test()))

Hello World
<generator object generator_test at 0x000000000573AEB0>
Hello World

In [129]:
#generator
def generator():
    yield "H"
    yield "E"
    yield "L"
    yield "L"
    yield "O"

test = generator()
for i in test:
    print(i)

H
E
L
L
O

In [131]:
#use list to read value from generator
def even_numbers(n):
    for x in range(n):
        if (x%2==0): 
            yield x       
num = even_numbers(10)
print(list(num))

[0, 2, 4, 6, 8]

In [132]:
#use for loop
def even_numbers(n):
    for x in range(n):
        if (x%2==0): 
            yield x       
num = even_numbers(10)
for i in num:
    print(i)

0
2
4
6
8

In [135]:
#yield
def test(n):
    return n*n

def getSquare(n):
    for i in range(n):
        yield test(i)

sq = getSquare(10)
for i in sq:
    print(i)

0
1
4
9
16
25
36
49
64
81

# QUEUE

In [43]:
#Add and item in a queue
import queue
q1 = queue.Queue(5) #The max size is 5.
q1.put(1)
q1.put(2)
q1.put(3)
q1.put(4)
q1.put(5)
print(q1.full()) # will return true.

True

In [137]:
import queue
q1 = queue.Queue()
q1.put(10)

item1 = q1.get()

print('The item removed from the queue is ', item1)

The item removed from the queue is  10

In [44]:
#Last In First Out queue Example
import queue
q1 = queue.LifoQueue()
q1.put(10)

In [140]:
#Remove an item from the queue
import queue
q1 = queue.LifoQueue()
q1.put(10)

item1 = q1.get()

print('The item removed from the LIFO queue is ', item1)

The item removed from the LIFO queue is  10

In [143]:
#Remove an item from the FIFOqueue
import queue
q1 = queue.Queue()

for i in range(20):
    q1.put(i) 

while not q1.empty():
    print("The value is ", q1.get()) # get() will remove the item from the queue.

The value is  0
The value is  1
The value is  2
The value is  3
The value is  4
The value is  5
The value is  6
The value is  7
The value is  8
The value is  9
The value is  10
The value is  11
The value is  12
The value is  13
The value is  14
The value is  15
The value is  16
The value is  17
The value is  18
The value is  19

In [145]:
#Add and item in a LIFOqueue
import queue
q1 = queue.LifoQueue()

for i in range(20):
    q1.put(i) # this will additem from 0 to 20 to the queue


while not q1.empty():
    print("The value is ", q1.get()) # get() will remove the item from the queue.

The value is  19
The value is  18
The value is  17
The value is  16
The value is  15
The value is  14
The value is  13
The value is  12
The value is  11
The value is  10
The value is  9
The value is  8
The value is  7
The value is  6
The value is  5
The value is  4
The value is  3
The value is  2
The value is  1
The value is  0

In [160]:
#reversing queue
import queue
q1 = queue.Queue()

q1.put(11)
q1.put(5)
q1.put(4)
q1.put(21)
q1.put(3)
q1.put(10)

def reverseQueue (q1src, q2dest) :  
    buffer = q1src.get()
    if (q1src.empty() == False) :
        reverseQueue(q1src, q2dest)      #using recursion
    q2dest.put(buffer)
    return q2dest

q2dest = queue.Queue()
qReversed = reverseQueue(q1,q2dest)

while (q2dest.empty() == False): 
    print(q2dest.get())

10
3
21
4
5
11

# COUNTER & ENUMERATE

In [45]:
#Python Counter

from collections import Counter
list1 = ['x','y','z','x','x','x','y', 'z']
print(Counter(list1))

Counter({'x': 4, 'y': 2, 'z': 2})

In [162]:
#Enumerate()
mylist = ['A', 'B' ,'C', 'D']
e_list = enumerate(mylist)
print(list(e_list))

[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D')]

In [165]:
#type
str_list = "Welcome to Guru99"
age = 50
pi = 3.14
c_num = 3j+10
my_list = ["A", "B", "C", "D"]
my_tuple = ("A", "B", "C", "D")
my_dict = {"A":"a", "B":"b", "C":"c", "D":"d"}
my_set = {'A', 'B', 'C', 'D'}

print("The type is : ",type(str_list))
print("The type is : ",type(age))
print("The type is : ",type(pi))
print("The type is : ",type(c_num))
print("The type is : ",type(my_list))
print("The type is : ",type(my_tuple))
print("The type is : ",type(my_dict))
print("The type is : ",type(my_set))

The type is :  <class 'str'>
The type is :  <class 'int'>
The type is :  <class 'float'>
The type is :  <class 'complex'>
The type is :  <class 'list'>
The type is :  <class 'tuple'>
The type is :  <class 'dict'>
The type is :  <class 'set'>

In [166]:
class test:
    s = 'testing'

t = test()
print(type(t))

#<class '__main__.test'>: it is a class object, and __main__ is a start point, class name is called test

<class '__main__.test'>

In [171]:
class MyClass:
    _message = "Hello World"

_class = MyClass()

print("_class is a instance of MyClass() : ", isinstance(_class,MyClass))

_class is a instance of MyClass() :  True

In [172]:
my_dict = isinstance({"A":"a", "B":"b", "C":"c", "D":"d"},dict)
print("my_dict is a dict:", my_dict)

my_dict is a dict: True

In [46]:
#using == doesn't consider the inheritance relationship
class A:
    my_listA = [1,2,3]

#inheritance A class
class B(A):
    my_listB = [1,2,3]

print(type(A()) == A)
print(type(B()) == A)

True
False

In [188]:
#isinstance function considers the inheritance relationship
class A:
    my_listA = [1,2,3]

class B(A):
    my_listB = [1,2,3]

print(isinstance(A(), A))
print(isinstance(B(), A))

True
True